@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h5>Here you can get an overview of our students, teachers and courses as well as update that information.</h5>
</div>
